<div class="admin-commands-container">
  <div class="choice">
    <label class="effectuer" (click)="changeEtatN()" [ngClass]="{colorback: !isEffectuer}"><span class="material-symbols-outlined">check_circle</span> Achat Effectuer</label>
    <label class="Noneffectuer" (click)="changeEtatP()" [ngClass]="{colorback: isEffectuer}"><span class="material-symbols-outlined">cancel</span> Achat Non-Effectuer</label>
  </div>
  <div *ngIf="!isEffectuer" id="search"><input type="date" [(ngModel)]="date" name="" id=""><button (click)="search(date)" ><span class="material-symbols-outlined" style="font-size: 18px; margin-right: 4px;">search</span> Chercher</button></div>
  <div class="table" *ngIf="isEffectuer">
    <div *ngIf="voidNE" style="text-align:center;font-size: 30px;padding-top: 120px;"><img src="../../assets/smallbee.png" alt=""> Tous les commandes sont effectue</div>
    <table *ngIf="!voidNE">
      <tr id="headerTable">
        <th><span class="material-symbols-outlined">person</span> Nom</th>
        <th><span class="material-symbols-outlined">home</span> Adresse</th>
        <th><span class="material-symbols-outlined">call</span> Telephone/E-mail</th>
        <th><span class="material-symbols-outlined">shopping_bag</span> Produit</th>
        <th><span class="material-symbols-outlined">calendar_today</span> Date de Commande</th>
        <th><span class="material-symbols-outlined">payments</span> Taille/Prix</th>
        <th>Verifié?</th>
        <th>Effectué?</th>
        <th></th>
      </tr>
      <tr class="TableElement" *ngFor="let item of table;index as i">
        <td>{{item.fullname}}</td>
        <td style="display:block" class = "edits" [id]="i + 'c'">{{item.adress}}</td>
        <td style="display:none" [id]="i + 'b'" class = "edits"><input type="text" class="editers"  name="" id="" value={{item.adress}} [(ngModel)]="item.adress"></td>
        <td><label id="phone">{{item.tel}}</label>
          {{item.email}}
        </td>
        <td style="display:block" [id]="i + 'd'" class = "edits">{{item.name}} ({{item.qte}})</td>
        <td style="display:none" class = "edits" [id]="i + 'a'"><select  class="optionP" [(ngModel)]="item.idproducts"><option *ngFor="let item of combobox" value={{item.idproducts}}>{{item.name}}</option></select> <input type="text" class="editers" style="width:45px;" [(ngModel)]="item.qte" value={{item.qte}}></td>
        <td>{{item.to_char}}</td>
        <td>{{item.prix}} DH/
          {{item.taille}}
        </td>
        <td><span class="true" *ngIf="item.verifie">Verifié</span><span class="false" *ngIf="!item.verifie">En attent</span></td>
        <td><span class="true" *ngIf="item.etat">Effecuter</span><span class="false" *ngIf="!item.etat">En attent</span></td>
        <td><span class="material-symbols-outlined" style="cursor: pointer;" (click)="showmor(i);disable(i)">more_vert</span></td><br>
        <div [id]="i" style="display: none;" class="more">
          <ul>
            <li [id]="i + '1'" style="display: none;" (click)="validChange(item.adress,item.iduser,item.qte,item.idcommande,item.idproducts);showmor(i);showmor(i+'a');showmor(i+'b');showmor(i+'c');showmor(i+'d')"><span class="material-symbols-outlined">done</span> Valider</li>
            <li [id]="i + '2'" style="display: none;" (click)="showmor(i + '1');showmor(i + '2');showmor(i + '3');showmor(i + '4');showmor(i + '5');showmor(i+'a');showmor(i+'b');showmor(i+'c');showmor(i);showmor(i+'d')"><span class="material-symbols-outlined">close</span> Annuler</li>
            <li [id]="i + '3'" style="display: block;" (click)="Edit();showmor(i + '1');showmor(i + '2');showmor(i + '3');showmor(i + '4');showmor(i + '5');showmor(i+'a');showmor(i+'b');showmor(i+'c');showmor(i);showmor(i+'d')"><span class="material-symbols-outlined">edit</span> Modifier</li>
            <li [id]="i + '4'" style="display: block;" (click)="verifie(item.idcommande,item,item.verifie);showmor(i);showComNo()"><span class="material-symbols-outlined">verified</span> <span for="" *ngIf="!item.verifie">  Verifié</span>  <span for="" *ngIf="item.verifie">  Falsifier</span></li>
            <li [id]="i + '5'" style="display: block;" (click)="effectue(item.idcommande,item,item.etat);showmor(i);showComNo()"><span class="material-symbols-outlined">check_circle</span> Effectué</li>
          </ul>
      </div>
      </tr>
    </table>
</div>
<div class="table" *ngIf="!isEffectuer">
  <div *ngIf="voidE" style="text-align:center;font-size: 30px;padding-top: 120px;"><img src="../../assets/smallbee.png" alt=""> Il n'y a pas de Commande effectuer</div>
  <table *ngIf="!voidE">
    <tr id="headerTable">
      <th><span class="material-symbols-outlined">person</span> Nom</th>
      <th><span class="material-symbols-outlined">home</span> Adresse</th>
      <th><span class="material-symbols-outlined">call</span> Telephone/E-mail</th>
      <th><span class="material-symbols-outlined">shopping_bag</span> Produit</th>
      <th><span class="material-symbols-outlined">calendar_today</span> Date de Commande</th>
      <th><span class="material-symbols-outlined">payments</span> Taille/Prix</th>
      <th>Verifié?</th>
      <th>Effectué?</th>
      <th></th>
    </tr>
    <tr class="TableElement" *ngFor="let item of table2;index as i">
      <td>{{item.fullname}}</td>
      <td style="display:block" class ="edits" [id]="i + 'c'">{{item.adress}}</td>
      <td style="display:none" [id]="i + 'b'" class = "edits"><input class="editers" type="text" name="" id="" value={{item.adress}} [(ngModel)]="item.adress"></td>
      <td><label id="phone">{{item.tel}}</label>
        {{item.email}}
      </td>
      <td style="display:block" [id]="i + 'd'" class = "edits">{{item.name}} ({{item.qte}})</td>
      <td style="display:none" class = "edits" [id]="i + 'a'"><select class="optionP" [(ngModel)]="item.idproducts"><option select *ngFor="let item of combobox" value={{item.idproducts}}>{{item.name}}</option></select> <input type="text" class="editers" style="width:45px;" [(ngModel)]="item.qte" value={{item.qte}}></td>
      <td>{{item.to_char}}</td>
      <td>{{item.prix}} DH/
        {{item.taille}}
      </td>
      <td><span class="true" *ngIf="item.verifie">Verifié</span><span class="false" *ngIf="!item.verifie">En attent</span></td>
      <td><span class="true" *ngIf="item.etat">Effecuter</span><span class="false" *ngIf="!item.etat">En attent</span></td>
      <td><span class="material-symbols-outlined" style="cursor: pointer;" (click)="showmor(i);disable(i)">more_vert</span></td><br>
      <div [id]="i" style="display: none;" class="more">
        <ul>
          <li [id]="i + '1'" style="display: none;" (click)="validChange(item.adress,item.iduser,item.qte,item.idcommande,item.idproducts);showmor(i);showmor(i+'a');showmor(i+'b');showmor(i+'c');showmor(i+'d')"><span class="material-symbols-outlined">done</span> Valider</li>
          <li [id]="i + '2'" style="display: none;" (click)="showmor(i + '1');showmor(i + '2');showmor(i + '3');showmor(i + '4');showmor(i + '5');showmor(i+'a');showmor(i+'b');showmor(i+'c');showmor(i);showmor(i+'d')"><span class="material-symbols-outlined">close</span> Annuler</li>
          <li [id]="i + '3'" style="display: block;" (click)="Edit();showmor(i + '1');showmor(i + '2');showmor(i + '3');showmor(i + '4');showmor(i + '5');showmor(i+'a');showmor(i+'b');showmor(i+'c');showmor(i);showmor(i+'d')"><span class="material-symbols-outlined">edit</span> Modifier</li>
          <li [id]="i + '4'" style="display: block;" (click)="verifie(item.idcommande,item,item.verifie);showmor(i);showComNo()"><span class="material-symbols-outlined">verified</span> <span for="" *ngIf="!item.verifie">  Verifié</span>  <span for="" *ngIf="item.verifie">  Falsifier</span></li>
          <li [id]="i + '5'" style="display: block;" (click)="effectue(item.idcommande,item,item.etat);showmor(i);showComNo()"><span class="material-symbols-outlined">check_circle</span> Abandonner</li>
        </ul>
    </div>
    </tr>
  </table>
</div>
