#topMenu{
    height: 73px;
    transition: 1s;
}

#logo{
    cursor: pointer;
}
ul{
    margin-bottom: 0;
}
#logo>a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14pt;
    font-weight: bolder;
    margin:10pt 0pt;
}
#sTopMenu{
    float: right;
    margin-right: 20pt;
}
#sTopMenu>ul{
    list-style:none;
    margin-top: 0;
    padding: 8pt;
    padding-top:4pt;
}
.menuElements{
    font-size: 16pt;
    display: inline-block;
    margin:10pt 20pt;
}
.menuElements>a{
    text-decoration: none;
    color: black;
    position: relative;
}
/*.menuElements>a::after{
  content: "";
  height: 2px;
  background: black;
  width: 50px;
  left: 30px;
  right: 0;
  bottom: -6px;
  opacity: 1;
  transition: 0.3s;
  transform: scaleX(1);
  position: absolute;

}*/
/*.menuElements>a:hover .menuElements>a::after{

}*/
#Home>a:hover{
    color: #FF3E22;
}
/*#home>a::after{
  content: "";
  height: 2px;
  background: black;
  width: 50px;
  left: 30px;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transition: 0.3s;
  transform: scaleX(0);
  position: absolute;
}
#Home>a:hover #home>a::after{
  opacity: 1;
  transform: scaleX(1);
}*/
#Shopping>a:hover{
    color: #FFBD61;
}
#Apropos>a:hover{
    color: #34B865;
}
