<div id="conPage">
  <h4 class="titles"><i class="fas fa-tags"></i> Recommandations:</h4>
  <carousel [cellsToShow]="1" [autoplay]=true [dots]=true [borderRadius]=8 arrowsTheme="dark">
    <div class="carousel-cell">
      <img src="../../assets/produit21.jpg">
    </div>
    <div class="carousel-cell">
      <div style="width: 40%;height: 500px;background-color: black;float: left;"></div>
      <img style="float: left;display: inline-block;" src="../../assets/produit21.jpg">
    </div>
    <div class="carousel-cell">
      <img src="../../assets/produit21.jpg">
    </div>
  </carousel>
  <h4 class="titles" style="margin-top:0;"><i class="fas fa-gifts"></i> Catégories:</h4>
  <div class="typesContainaire">
    <div class="type" id="Miel" (click)='getProductsCategorie("MIEL")'>
      <img src="../../assets/honey3.png" alt="" width="100px">
      <h5 >Miel</h5>
    </div>
    <div class="type" id="Huile" (click)='getProductsCategorie("HUILE")'>
      <img src="../../assets/oil3.png" alt="" width="100px">
      <h5>Huile</h5>
    </div>
    <div class="type" id="Cuisine" (click)='getProductsMangable(true)' >
      <img src="../../assets/3.png" alt="" width="100px">
      <h5>Cuisine</h5>
    </div>
    <div class="type" id="Last" (click)='getProductsMangable(false)'>
      <img src="../../assets/4.png" alt="" width="100px">
      <h5>Cosmétique</h5>
    </div>
  </div>
  <h4 class="titles"><i class="fas fa-shopping-cart"></i> Produits:</h4>
  <div  *ngIf="!loading" class="produitContainaire">
    <div *ngFor='let item of products' class="Products reveal" (click)="routerBuyProduct(item)">
      <p class="titleProduit">{{item.name}}</p>
      <img [src]="transform(item.picture)" alt="" width="250px">
      <p class="titlePrix">{{item.prix}} DH</p>
      <p style="color: #bfbfbf;">Livraison gratuite</p>
    </div>
  </div>
  <img *ngIf="loading" src="../../assets/loading.gif" alt="" width="200px" style="margin: 0 auto;display: block;">
</div>
