<div id="conPage">
  <h4 class="titles"><i class="fas fa-tags"></i> Recommandation:</h4>
  <carousel [cellsToShow]="2" [autoplay]=true [dots]=true [borderRadius]=8 arrowsTheme="dark">
    <div class="carousel-cell">
        <img src="../../assets/produit21.jpg">
    </div>
    <div class="carousel-cell">
      <img src="../../assets/produit21.jpg">
  </div>
  <div class="carousel-cell">
    <img src="../../assets/produit21.jpg">
</div>
  </carousel>
  <h4 class="titles"><i class="fas fa-gifts"></i> Catégorie:</h4>
  <div class="typesContainaire">
    <div class="type" id="Miel">
      <img src="../../assets/honey3.png" alt="" width="100px">
      <h5 >Miel</h5>
    </div>
    <div class="type" id="Huile">
      <img src="../../assets/oil3.png" alt="" width="100px">
      <h5>Huile</h5>
    </div>
    <div class="type">
      <img src="../../assets/oil3.png" alt="" width="100px">
      <h5>Huile</h5>
    </div>
    <div class="type" id="Last">
      <img src="../../assets/oil3.png" alt="" width="100px">
      <h5>Huile</h5>
    </div>
  </div>
  <div class="produitContainaire">
    <h4 class="titles"><i class="fas fa-shopping-cart"></i> Produits:</h4>

  </div>
</div>
