<notifier-container></notifier-container>
<div class="dashboard-wrapper">
    <h4><span class="material-symbols-outlined">analytics</span> Statistiques général</h4>
    <div class="typesContainaire">
      <div class="type" id="revenu">
        <div class="topData">
          <span class="material-symbols-outlined">payments</span>
          <div class="infos">
            <label class="titre">Revenu</label>
            <label class="number">{{revenuNb}} <label style="font-size: 15px;"> DH</label></label>
          </div>
        </div>
        <p class="note"><span class="material-symbols-outlined" style="font-size: 16px; margin-right: 4px;">calendar_today</span> Mois en cours</p>
      </div>
      <div class="type routeDash" id="commands" (click)="showCommnads()">
        <div class="topData">
          <span class="material-symbols-outlined">receipt_long</span>
          <div class="infos">
            <label class="titre">Commandes</label>
            <label class="number">{{commandNb}}</label>
          </div>
        </div>
        <p class="note"><span class="material-symbols-outlined" style="font-size: 16px; margin-right: 4px;">calendar_today</span> Mois en cours</p>
      </div>
      <div class="type" id="Miel">
        <div class="topData">
          <span class="material-symbols-outlined" style="color: var(--color-primary);">trending_up</span>
          <div class="infos">
            <label class="titre">Visiteurs</label><br>
            <label class="number">{{visitsNb}}</label>
          </div>
        </div>
        <p class="note"><span class="material-symbols-outlined" style="font-size: 16px; margin-right: 4px;">schedule</span> Aujourd'hui</p>
      </div>
      <div class="type routeDash" id="Users" (click)="showUsers()">
        <div class="topData">
          <span class="material-symbols-outlined" style="color: var(--color-secondary);">group</span>
          <div class="infos">
            <label class="titre">Utilisateurs</label>
            <label class="number">{{usersNb}}</label>
          </div>
        </div>
        <p class="note"><span class="material-symbols-outlined" style="font-size: 16px; margin-right: 4px;">history</span> Dès le début</p>
      </div>
    </div>
    <div id="divChart" style="display: block;width:97%;background-color: white;border-radius: 8pt;box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.2);margin: 0 auto;">
      <h4><span class="material-symbols-outlined">monitoring</span> Revenu annuel</h4>
      <canvas id="myChart" width="400" height="100"></canvas>
    </div>
  </div>
