<notifier-container></notifier-container>
  <div class="rightCon con">
    <h4><i class="fas fa-tachometer-alt"></i> Statistiques général</h4>
    <div class="typesContainaire">
      <div class="type" id="revenu">
        <div class="topData">
          <i class="fas fa-wallet"></i>
          <div class="infos">
            <label class="titre">Revenu</label>
            <label class="number">{{revenuNb}} <label style="font-size: 15px;"> DH</label></label>
          </div>
        </div>
        <p class="note"><i class="far fa-calendar-alt" style="font-size: 16px;"></i> Mois en cours</p>
      </div>
      <div class="type routeDash" id="commands" (click)="showCommnads()">
        <div class="topData">
          <i class="fas fa-shopping-basket"></i>
          <div class="infos">
            <label class="titre">Commands</label>
            <label class="number">{{commandNb}}</label>
          </div>
        </div>
        <p class="note"><i class="far fa-calendar-alt" style="font-size: 16px;"></i> Mois en cours</p>
      </div>
      <div class="type" id="Miel">
        <div class="topData">
          <i class="fas fa-users" style="color: #FCDA42;"></i>
          <div class="infos">
            <label class="titre">Visiteurs</label><br>
            <label class="number">{{visitsNb}}</label>
          </div>
        </div>
        <p class="note"><i class="far fa-clock" style="font-size: 16px;"></i> Aujourd'hui</p>
      </div>
      <div class="type routeDash" id="Users" (click)="showUsers()">
        <div class="topData">
          <i class="fas fa-house-user" style="color: #3F9CB8;"></i>
          <div class="infos">
            <label class="titre">Utilisateurs</label>
            <label class="number">{{usersNb}}</label>
          </div>
        </div>
        <p class="note"><i class="fas fa-play-circle" style="font-size: 16px;"></i> Dès le début</p>
      </div>
    </div>
    <div id="divChart" style="display: block;width:97%;background-color: white;border-radius: 8pt;box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.2);margin: 0 auto;">
      <h4><i class="fas fa-search-dollar"></i> Revenu annuel</h4>
      <canvas id="myChart" width="400" height="100"></canvas>
    </div>
  </div>
