<div id="pageContanaire">
    <div class="page1">
        <div id="pic">
            <img src="../../assets/morocco.webp" alt="">
        </div>
        <div id="welcome">
            <div id="title">
                <p>Welcome To our store</p>
                <div id="bt">
                    <a id="btText" href="">
                        Go Shopping <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul class="paginationList">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="page2" id="huh">
        <h1 id="titlePage2">Our Products</h1>
        <div id="leftCon">

            <img src="../../assets/binoculars_cindysuen.gif" alt="">
        </div>
        <div id="rightCon">
            <img src="../../assets/olive_picking_cindysuen.gif"  alt="">
        </div>
    </div>
</div>