<div id="pageContanaire">
    <div class="page1" id="page1">
        <div id="pic">
            <img src="../../assets/morocco.webp" alt="">
        </div>
        <div id="welcome">
            <div id="title">
                <p>Bienvenue dans notre magasin</p>
                <p style="color:#c1c1c1;font-size: 20px;">COOPERATIVE BABMANSOUR</p>
                <div id="bt" routerLink="/shopping">
                    <a id="btText" >
                        Faire du shopping <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul class="paginationList">
            <a style="background-color: #FF3E22;"></a>
            <a href="#page2" style="background-color: #FF7001;"></a>
            <a style="background-color: #34B865;" href="#page3"></a>
        </ul>
    </div>
    <div class="page2" id="page2">
        <div id="titlePage2">
            <h1 >Nos principes</h1>
        </div>
        <div id="leftCon" class="Con">
            <img src="../../assets/HoneyMaking2.jpg" alt="">
            <h3>Meilleur Méthodes de production</h3>
            <p>Information technology (IT) is the use of computers to store, retrieve, transmit, and manipulate data or information. IT is typically used within the context of business operations as opposed to personal or entertainment technologies. IT is considered to be a subset of information and communications technology (ICT).</p>
        </div>
        <div id="rightCon" class="Con">
            <img src="../../assets/olive_picking_cindysuen.gif"  alt="">
            <h3>Meilleur matières premières</h3>
            <p>Information technology (IT) is the use of computers to store, retrieve, transmit, and manipulate data or information. IT is typically used within the context of business operations as opposed to personal or entertainment technologies. IT is considered to be a subset of information and communications technology (ICT).</p>
        </div>
    </div>
    <div class="pagination" id="pag2">
        <ul class="paginationList">
            <a href="#topMenu" style="background-color: #FF3E22;"></a>
            <a style="background-color: #FF7001;"></a>
            <a href="#page3" style="background-color: #34B865;"></a>
        </ul>
    </div>
    <div class="page3" id="page3">
        <div id="rightCon2">
            <div class="oHCon" style="float: left;margin-left: 40pt;">
                <h3>Sortes de miels</h3>
                <img src="../../assets/honey3.png" alt="" style="width: 120px;">
                <p *ngIf="loading"><img class="loading" src="../../assets/loading.gif" alt=""></p>
                <p class="counter" *ngIf="!loading" style="font-size: 40px;">{{countH}}</p>
            </div>
            <div class="oHCon" style="float: right;margin-right: 40pt;">
                <h3>Sortes d'huiles</h3>
                <img src="../../assets/oil3.png" alt="" style="width: 120px;">
                <p *ngIf="loading"><img class="loading" src="../../assets/loading.gif" alt=""></p>
                <p class="counter" *ngIf="!loading" style="font-size: 40px;">{{countO}}</p>
            </div>
            <!--<div class="counter">1356</div>-->
            <div class="ConBottom" >
                <label style="font-size: 35px;margin-top: 15pt;color: #2c466f;">Suivez-Nous sur nos plateformes:</label><br>
                <div class="iconsCon">
                    <a href="https://www.facebook.com/cooperative.officiel/"><i class="fab fa-facebook-square" style="margin-right: 15pt;"></i></a>
                    <a style="color:black;" href="https://instagram.com/cooperativebabmansour?igshid=eh2xberwe4bn"><i class="fab fa-instagram" style="margin-left: 15pt;margin-right: 15pt;"></i></a>
                    <a href="" style="color: #34B865;"><i class="fab fa-whatsapp" style="margin-left:15pt;"></i></a>
                </div>
            </div>
        </div>
        <div id="leftCon2">
                <!--<input type="text" style="display: block;">
                <input type="email" style="display: block;">
                <textarea name="" id="" cols="30" rows="10" style="display:block;"></textarea>-->
                <form id="emailUs">
                    <h2 style="color: #2c466f;">Contactez-nous</h2>
                    <label for="">E-mail:</label>
                    <input id="email" type="email" placeholder="example@email.com" required>
                    <label for="">Nom et prénom:</label>
                    <input type="text" placeholder="Nom" required>
                    <label>Message:</label>
                    <textarea name="" id="" cols="30" rows="7" style="resize: none;"></textarea>
                        <button id="bt" href="" style="color: white;border: 0px;margin-top: 5px;">
                            Envoyez <i class="fas fa-envelope-open-text"></i>
                        </button>
                </form>
        </div>
    </div>
    <div class="pagination" style="width:100%;">
        <ul class="paginationList">
            <a href="#topMenu" style="background-color: #FF3E22;"></a>
            <a href="#page2" style="background-color: #FF7001;"></a>
            <a style="background-color: #34B865;"></a>
        </ul>
    </div>
</div>
<p></p>
