<div id="pageContanaire">
    <div class="page1" id="page1">
        <div id="pic">
            <img [src]="transformImage(config.heroImage)" alt="Coopérative Bab Mansour">
        </div>
        <div id="welcome">
            <div id="title">
                <p>{{ config.heroTitle }}</p>
                <p>{{ config.heroSubtitle }}</p>
                <p class="heroDescription">
                    {{ config.heroDescription }}
                </p>
                <div id="bt" routerLink="/shopping">
                    <a id="btText">
                        Découvrir la boutique <span class="material-symbols-outlined">arrow_right_alt</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul class="paginationList">
            <a href="#topMenu"></a>
            <a href="#page2"></a>
            <a href="#page3"></a>
        </ul>
    </div>
    <div class="page2" id="page2">
        <div id="titlePage2">
            <h1>Nos principes</h1>
        </div>
        <div class="principlesGrid">
            <div id="leftCon" class="Con reveal">
                <img [src]="transformImage(config.principle1Image)" alt="Méthodes de production traditionnelles">
                <h3>{{ config.principle1Title }}</h3>
                <p>{{ config.principle1Description }}</p>
            </div>
            <div id="rightCon" class="Con reveal">
                <img [src]="transformImage(config.principle2Image)" alt="Sélection de matières premières de qualité">
                <h3>{{ config.principle2Title }}</h3>
                <p>{{ config.principle2Description }}</p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul class="paginationList">
            <a href="#topMenu"></a>
            <a href="#page2"></a>
            <a href="#page3"></a>
        </ul>
    </div>
    <div class="page3" id="page3">
        <div id="rightCon2" class="reveal">
            <div class="statsWrapper">
                <div class="oHCon">
                    <h3>Sortes de miels</h3>
                    <img src="../../assets/honey3.png" alt="">
                    <p *ngIf="loading"><img class="loading" src="../../assets/loading.gif" alt=""></p>
                    <p class="counter" *ngIf="!loading">{{countH}}</p>
                </div>
                <div class="oHCon">
                    <h3>Sortes d'huiles</h3>
                    <img src="../../assets/oil3.png" alt="">
                    <p *ngIf="loading"><img class="loading" src="../../assets/loading.gif" alt=""></p>
                    <p class="counter" *ngIf="!loading">{{countO}}</p>
                </div>
            </div>
            <div class="ConBottom">
                <label>Suivez-nous sur nos plateformes :</label>
                <div class="iconsCon">
                    <a href="https://www.facebook.com/cooperative.officiel/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://instagram.com/cooperativebabmansour?igshid=eh2xberwe4bn"><i class="fab fa-instagram"></i></a>
                    <a href="" style="color: #34B865;"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div id="leftCon2" class="reveal">
                <!--<input type="text" style="display: block;">
                <input type="email" style="display: block;">
                <textarea name="" id="" cols="30" rows="10" style="display:block;"></textarea>-->
                <form id="emailUs">
                    <h2>Contactez-nous</h2>
                    <label>E-mail :</label>
                    <input id="email" type="email" placeholder="votre@email.com" required>
                    <label>Nom et prénom :</label>
                    <input type="text" placeholder="Votre nom" required>
                    <label>Message :</label>
                    <textarea cols="30" rows="7" placeholder="Votre message..."></textarea>
                    <button type="submit">
                        Envoyer <span class="material-symbols-outlined">send</span>
                    </button>
                </form>
        </div>
    </div>
    <div class="pagination">
        <ul class="paginationList">
            <a href="#topMenu"></a>
            <a href="#page2"></a>
            <a href="#page3"></a>
        </ul>
    </div>
</div>
