<div id="pagecont">
  <img *ngIf="loading" src="../../assets/loading.gif" alt="">
  
  <div *ngFor="let item of product" id="produit" [style.display]="loading ? 'none' : 'flex'">
    <div class="picture">
      <img [src]="transform(item.picture)" alt="">
    </div>
    
    <div class="info">
      <p class="proname">{{item.name}}</p>
      <p id="description">{{item.description}}</p>
      
      <div class="inputGroup">
        <label>Taille :</label>
        <div class="sizesContainer">
          <div *ngFor="let sizeOpt of item.sizes" class="taille" (click)="selectSize(sizeOpt)" [class.kl]="selectedSize === sizeOpt">
            {{sizeOpt.taille}}
          </div>
        </div>
      </div>
      
      <div class="quantityWrapper">
        <label>Quantité :</label>
        <input type="number" name="" [(ngModel)]="qte" id="Quantite" min="1" required>
      </div>

      <div class="price">
        <p *ngIf="selectedSize">{{selectedSize.prix}} DH</p>
        <span>Livraison gratuite</span>
      </div>

      <div class="actionButtons" *ngIf="!admin">
        <!-- Buy Now (add to cart + go to checkout) -->
        <button class="acheter" (click)="goToCheckout(item)">
          <span class="material-symbols-outlined">flash_on</span>
          Commander maintenant
        </button>

        <!-- Add to cart -->
        <button *ngIf="!addedToCart" class="cart" (click)="addToCart(item)" title="Ajouter au panier">
          <span class="material-symbols-outlined">add_shopping_cart</span>
        </button>
        <button *ngIf="addedToCart" class="cart" routerLink="/checkout" title="Voir le panier">
          <span class="material-symbols-outlined" style="color: var(--color-secondary);">check_circle</span>
        </button>
      </div>
    </div>
  </div>
</div>
